# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage

# IDE
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# environment variables
.env*
!.env.example